/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

.bg-pink {
    background-color: #B91450;
}

/* UTILITY */

.pink-color {
    color: #B91450;
}

button {
    background-color: rgb(213, 213, 213);
    border-radius: 30px;
    padding: 2px 10px;
    border: 1px solid #B91450;
}

input {
    border: 2px solid #B91450;
    border-radius: 5px;
    padding: 3px;
}
/* MAIN */

#priceCalculator {
    min-height: 150px;
}

#ticket-box {
    min-height: 150px;
}

/* HOVER */

button:hover {
    background-color:rgb(133, 133, 133);
}